@import "../../../shared/assets/css/_variables";
@import "../../../shared/assets/css/mixins";


.main-container {
    display : grid;
    grid-auto-flow : row;
    gap : .7rem;
}

.main-cards-container   {
    display : grid;
    grid-auto-flow : column;
    gap : .7rem;
}

.create-user-field-container  {
    gap : 1.7rem;
    display : grid;
    grid-template-areas: "firstName lastName"
    "username password"
    "permissionLevel permissionLevel";

    .firstName  {
        grid-area : firstName;
    }
    .lastName  {
        grid-area : lastName;
    }
    .username  {
        grid-area : username;
    }
    .password  {
        grid-area : password;
    }
    .permissionLevel  {
        grid-area : permissionLevel;
    }
}

.user-info-container {
    padding : 0 .7rem;
    
    font-size : $font-size-sm;
    
    .user-info-list {
        min-width : 300px;
        width : 100%;
        max-width : 700px;
        & > li  {
            display : flex;
            gap : 1rem;
            padding : .7rem;
            .label  {
                width : 130px;
                white-space: nowrap;
                color :rgb(105, 138, 160);
            }
            .value  {
                color :rgb(56, 128, 83);
                word-wrap : break-word;
                line-break : anywhere;
            }
        }
    }
}

.template-title {
    color : $light-blue;
}
.highlighted    {
    color :rgb(110, 143, 32);
}
.template-subtitle  {
    font-size : 1rem;
    color : rgb(105, 138, 160);
}
.template-section-title {
    font-size : 1.25rem;
    color : rgb(59, 168, 59);
}
.error-message  {
    margin-top : .5rem;
    font-size : .7rem;
    color : rgb(204, 21, 21);
}

.success-message  {
    margin-top : .5rem;
    color : rgb(21, 204, 97);
    font-size : .7rem;
}

.info-message  {
    margin-top : .5rem;
    color : rgb(21, 152, 204);
    font-size : .7rem;
}
.description    {
    color :rgb(122, 177, 34);
    font-size : .9rem;
}

.buttons-container, .buttons-container-main  {
    margin-top : 2rem;
    // display : flex;
    // flex-direction: row;
    display : grid;
    grid-auto-flow: column;
    justify-content: center;
    gap : 2rem;
    align-items: center;
    padding : 0;
    width : 100%;
    & > *   {
        margin-right : 1rem;
        &:last-child   {
            margin-right : 0
        }
    }
}
.buttons-container-main {
    margin-top : 0;
}


@media only screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
    .main-cards-container   {
        display : grid;
        grid-auto-flow : row;
        gap : .7rem;
    }

    .create-user-field-container  {
        gap : 1.7rem;
        display : grid;
        grid-template-areas: "firstName firstName"
        "lastName lastName"
        "username username"
        "password password"
        "permissionLevel permissionLevel";
    
        .firstName  {
            grid-area : firstName;
        }
        .lastName  {
            grid-area : lastName;
        }
        .username  {
            grid-area : username;
        }
        .password  {
            grid-area : password;
        }
        .permissionLevel  {
            grid-area : permissionLevel;
        }
    }
}

@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    
    .main-cards-container   {
        display : grid;
        grid-auto-flow : row;
        gap : .7rem;
    }
}

@media only screen and (min-width: $laptop-min-width) and (max-width: $laptop-max-width) {
    
    .main-cards-container   {
        display : grid;
        grid-auto-flow : row;
        gap : .7rem;
    }

}