@import "../../shared/assets/css/_variables";
@import "../../shared/assets/css/mixins";

.form-container {
    font-size : $font-size-xs;
    display : flex;
    flex-direction : column;
    .template-title {
        color : $light-blue;
    }
    .form   {
        display : flex;
        flex-direction : column;
        font-size : $font-size-xs;
        & > *   {
            margin-bottom : 1.4rem;
            &:last-child   {
                margin-bottom : 0
            }
        }
        .input-container    {
            & > *   {
                margin-right : 2rem;
                &:last-child   {
                    margin-right : 0
                }
            }
        }
        
        .buttons-container  {
            display : flex;
            flex-direction: row;
            & > *   {
                margin-right : 2rem;
                &:last-child   {
                    margin-right : 0
                }
            }
        }
    }
}
