@import "../../shared/assets/css/_variables";
@import "../../shared/assets/css/mixins";

*  {
    font-size : $font-size-sm;
}
.template-title {
    color : $light-blue;
}
.highlighted    {
    color :rgb(32, 143, 56);
    font-weight : bold;
}
.highlighted-2    {
    color :rgb(14, 109, 146);
    font-weight : bold;
}

.template-subtitle  {
    font-size : 1rem;
    color : rgb(105, 138, 160);
}
.template-section-title {
    font-size : 1rem;
    color : rgb(59, 168, 59);
}
.error-message  {
    margin-top : .7rem;
    color : rgb(204, 21, 21);
}
.description    {
    color :rgb(122, 177, 34);
    font-size : .9rem;
}
.buttons-container  {
    margin-top : 2rem;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width : 100%;
    & > *   {
        margin-right : 2rem;
        &:last-child   {
            margin-right : 0
        }
    }
}

.field-container    {
    display : grid;
    gap : 2rem;
    grid-auto-flow: column;
    padding : 2rem;
}

.select-container   {
    gap : .7rem;
    display : grid;
    grid-auto-flow : column;
}


.main-container {
    gap : .7rem;
    display : grid;
    grid-auto-flow : row;
}

.action-buttons-container   {
    display : flex;
    gap : .7rem;
    flex-wrap : wrap;
}

@media only screen and (min-width: $mobile-min-width) and (max-width: $laptop-max-width) {
    
    .select-container   {
        gap : 1.4rem;
        display : grid;
        grid-auto-flow : row;
    }

}