@import "../../shared/assets/css/_variables";
@import "../../shared/assets/css/mixins";

.template-title {
    color : $light-blue;
}
.highlighted    {
    color :rgb(110, 143, 32);
}
.template-subtitle  {
    font-size : 1rem;
    color : rgb(105, 138, 160);
}
.template-section-title {
    font-size : 1.25rem;
    color : rgb(59, 168, 59);
}
.error-message  {
    margin-top : .5rem;
    font-size : .7rem;
    color : rgb(204, 21, 21);
}

.success-message  {
    margin-top : .5rem;
    color : rgb(21, 204, 97);
    font-size : .7rem;
}

.info-message  {
    margin-top : .5rem;
    color : rgb(21, 152, 204);
    font-size : .7rem;
}
.description    {
    color :rgb(122, 177, 34);
    font-size : .9rem;
}

.main-container {
    min-height : calc(100vh - 10rem);
    display :flex;
    align-items : center;
    justify-content: center;
    flex-direction: row;
    img {
        width : 300px;
        height : auto;
    }
}
.section-title  {
    font-weight : bold;
    color : #474f49;
}
