@import "./shared/assets/css/_variables";
@import "./shared/assets/css/mixins";

*   {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}


.hidden {
    display : none!important;
    height : 0!important;
    width : 0!important;
}


h1.page-title   {
    color : $blue;
    font-size : $font-size-xlg;
    font-weight : bold;
}

body    {
    font-family : $font-family;
    font-size : $font-size-sm;
    font-weight : normal;
    // background: $black;
    color : #777;
    line-height : 1.5;
    letter-spacing : 1;
    word-spacing : 1.3;
}

img {
    width : 100%;
}

.card   {
    box-shadow : 0px 0px 4px 1px rgba(0, 0, 0, 0.18);
}

hr  {
    background-color : rgba(0, 0, 0, .12);
    margin : 1.4rem 0;
}



/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
.filled input:-webkit-autofill,
.filled input:-webkit-autofill:hover, 
.filled input:-webkit-autofill:focus,
.filled textarea:-webkit-autofill,
.filled textarea:-webkit-autofill:hover,
.filled textarea:-webkit-autofill:focus,
.filled select:-webkit-autofill,
.filled select:-webkit-autofill:hover,
.filled select:-webkit-autofill:focus {
  border: none!important;
  -webkit-text-fill-color: inherit!important;
  box-shadow: 0 0 0px 1000px rga(255,255,255,0) inset!important;
  -webkit-box-shadow: 0 0 0px 1000px rga(255,255,255,0) inset!important;
  transition: background-color 5000s ease-in-out 0s!important;
  color : inherit;
}



$scrollbar-track-bg : rgb(161, 189, 189);
$scrollbar-thumb-bg : rgb(200, 212, 219);
$scrollbar-thumb-hover-bg : rgb(177, 194, 206);




@media only screen and (min-width: $pc-min-width) and (max-width: $pc-max-width) {
    
    html {
        font-size : 18px;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height : 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $scrollbar-track-bg; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $scrollbar-thumb-bg; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-thumb-hover-bg; 
    }
}

@media only screen and (min-width: $ultra-min-width) {
    
    html {
        // font-size : calc(100vw * .0104);
        font-size : 20px;

    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height : 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $scrollbar-track-bg; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $scrollbar-thumb-bg; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-thumb-hover-bg; 
    }


}

@media only screen and (min-width: $laptop-min-width) and (max-width: $laptop-max-width) {
    
    html {
        font-size : 18px;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height : 10px;
    }
    
   /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $scrollbar-track-bg; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $scrollbar-thumb-bg; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-thumb-hover-bg; 
    }

}