@font-face {
  font-family: 'Sacramento';
  src: local('Sacramento'), url(./shared/assets/fonts/sacramento/Sacramento-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Caveat';
  src: local('Caveat'), url(./shared/assets/fonts/caveat/Caveat-VariableFont_wght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  /* transition : all .2s ease-in-out; */
}

#modal-container  {
  z-index : 3;
  position : relative;
}
#root {
  z-index :2;
  position : relative;
}